{{- $section5   := .Site.Params.section5 }}
{{- $title      := index $section5 "title" }}
{{- $subtitle   := index $section5 "subtitle" }}
{{- $buttonText := index $section5 "buttonText" }}
{{- $url   := index $section5 "url" }}
<section class="section section-light-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form id="contact-form">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input id="name" name="name" class="input is-medium" type="text" placeholder="Enter your name">
              </div>
              <div class="column is-6">
                <input id="email" name="email" class="input is-medium" type="email" placeholder="Enter your email address" required>
              </div>
              <div class="column is-12">
                <textarea id="message" name="message" class="textarea" rows="8" placeholder="Write someting..."></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button type="submit" class="button cta is-large primary-btn raised is-clear">{{ $buttonText }}</button>
              </div>
            </div>
          </form>
          <script type="text/javascript">
            window.addEventListener( "load", function () {
              function sendData() {
                const XHR = new XMLHttpRequest();

                // Bind the FormData object and the form element
                const FD = new FormData( form );

                // Define what happens on successful data submission
                XHR.addEventListener( "load", function(event) {
                  alert( event.target.responseText );
                  form.reset();
                } );

                // Define what happens in case of error
                XHR.addEventListener( "error", function( event ) {
                  alert( 'Oops! Something went wrong. Please try again later.' );
                } );

                // Set up our request
                XHR.open( "POST", "{{ $url }}" );

                // The data sent is what the user provided in the form
                XHR.send( FD );
              }

              // Access the form element...
              let form = document.getElementById( "contact-form" );

              // ...and take over its submit event.
              form.addEventListener( "submit", function ( event ) {
                event.preventDefault();
                sendData();
              } );
              } );
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
